<!DOCTYPE html>
<html>
<head>
  <title>Create Listing</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
      body {
          font-family: Arial, sans-serif;
          margin: 0;
          padding: 0;
          background-color: #f7f7f7;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
          flex-direction: column;
      }
      .container {
          text-align: center;
          width: 400px; /* Adjust width as needed */
          background-color: white;
          padding: 20px;
          border-radius: 10px;
          box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
          margin-top: -50px; /* Adjust as needed */
      }
      h1 {
          color: #333;
      }
      .form-group {
          margin-bottom: 15px;
          text-align: left;
      }
      label {
          display: block;
          margin-bottom: 5px;
      }
      input[type="text"],
      input[type="number"],
      input[type="file"],
      textarea {
          width: 100%;
          padding: 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          box-sizing: border-box; /* Added to keep width as 100% including padding */
      }
      input[type="submit"] {
          background-color: #ffd700;
          color: white;
          border: none;
          padding: 10px 20px;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s;

      }
      input[type="submit"]:hover {
          background-color: #b8860b;
          transform: scale(1.05);
      }
      .text-logo {
          display: block;
          text-align: center;
          font-size: 24px;
          font-weight: bold;
          color: #ffd700;
          text-decoration: none;
          margin-bottom: 20px;
      }
      .horizontal-tags-list {
          display: flex;
          flex-wrap: wrap; /* Allow tags to wrap onto the next line */
          gap: 8px; /* Adjust the space between tags */
      }

      .selected-tag {
          display: inline-block;
          /*background-color: #eaeaea;*/
          padding: 4px 8px;
          margin-bottom: 8px; /* Adjust vertical spacing between tags */
          border-radius: 4px;
      }

      .add-tag-btn {
          background-color: #ffd700;
          color: white;
          border: none;
          padding: 10px 20px;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s, transform 0.2s;
      }

      .add-tag-btn:hover {
          background-color: #b8860b;
           /* Scale the button on hover */
      }

      .remove-tag {
          background-color: #d9534f; /* Lighter shade of red */
          color: white; /* Text color */
          border: none;
          padding: 4px 8px;
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.3s, transform 0.2s, color 0.3s;
      }

      .remove-tag:hover {
          background-color: #c9302c; /* Slightly darker shade of red on hover */

          transform: scale(1.05); /* Scale the button on hover */
      }
  </style>
</head>
<body>
<div class="container">
  <a href="/" class="text-logo">SellNest</a>
  <h1>Create Listing</h1>

  <%= form_for(@listing, url: listings_path, html: { class: "form-horizontal"}) do |f| %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', required: true %>
    </div>



    <!-- Add dropdown for selecting category tag -->
    <div class="field">
      <%= f.label :tag_ids, 'Select Tags' %>
      <%= f.select :tag_ids, Tag.all.collect { |t| [t.name, t.id] }, include_blank: true, class: 'tag-dropdown' %>
      <%= f.button "Add tag", type: 'button', class: 'add-tag-btn' %>
    </div>

    <div class="form-group">
      <div class="selected-tags-list horizontal-tags-list"></div>
      <% f.object.tags.each do |tag| %>
      <span class="selected-tag">
        <%= tag.name %>
        <%= f.hidden_field :tag_ids, multiple: true, value: tag.id %>
        <button type="button" class="remove-tag" data-tag-id="<%= tag.id %>">x</button>
      </span>
      <% end %>
    </div>

    <div class="form-group">
      <label for="item_photos">Upload Photos:</label>
      <input type="file" id="item_photos" name="item_photos" accept="image/*" multiple>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control', rows: 4, required: true %>
    </div>

    <div class="form-group">
      <%= f.label :price %>
      <%= f.text_field :price, class: 'form-control', step: '0.01', pattern: '\d+(\.\d{1,2})?', required: true %>
    </div>

    <div class="form-group">
      <%= f.submit "Create Listing", class: 'btn btn-primary' %>
    </div>
  <% end %>

</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const addTagBtn = document.querySelector('.add-tag-btn');
        const selectedTagsList = document.querySelector('.selected-tags-list');

        addTagBtn.addEventListener('click', function() {
            const tagDropdown = document.getElementById('listing_tag_ids');
            const selectedTagId = tagDropdown.value;
            const selectedTagName = tagDropdown.options[tagDropdown.selectedIndex].text;

            if (selectedTagId) {
                const tagListItem = document.createElement('div');
                tagListItem.classList.add('selected-tag');
                tagListItem.innerHTML = `
        ${selectedTagName}
        <input type="hidden" name="listing[tag_ids][]" value="${selectedTagId}">
        <button type="button" class="remove-tag" data-tag-id="${selectedTagId}">x</button>
      `;
                selectedTagsList.appendChild(tagListItem);
                // Reset the dropdown to the blank state
                tagDropdown.selectedIndex = 0;
            }
        });

        // Functionality to remove tags
        selectedTagsList.addEventListener('click', function(event) {
            if (event.target.classList.contains('remove-tag')) {
                const tagId = event.target.dataset.tagId;
                const tagToRemove = document.querySelector(`[data-tag-id="${tagId}"]`);

                if (tagToRemove) {
                    tagToRemove.parentElement.remove();
                }
            }
        });
    });

</script>
</body>
</html>

