<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
      body {
          font-family: Arial, sans-serif;
          margin: 0;
          padding: 0;
          background-color: #f7f7f7;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
          flex-direction: column;
      }
      .container {
          text-align: center;
          width: 400px; /* Adjust width as needed */
          background-color: white;
          padding: 20px;
          border-radius: 10px;
          box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
      }
      h2 {
          color: #333;
      }
      .btn-primary {
          background-color: #ffd700;
          color: white;
          border: none;
          padding: 10px 20px;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s;
      }
      .btn-primary:hover {
          background-color: #ffd700;
      }
      .text-logo {
          display: block;
          text-align: center;
          font-size: 24px;
          font-weight: bold;
          color: #ffd700;
          text-decoration: none;
          margin-bottom: 20px;
      }
      .user-info {
          margin-bottom: 20px;
      }
      .action-button {
          margin-bottom: 10px; /* Spacing between buttons */
      }

      .profile-container {
          display: flex;
          flex-direction: column; /* Stack vertically */
          align-items: center; /* Center items horizontally */
          gap: 20px; /* Spacing between elements */
      }

      .middle-section {
          text-align: center; /* Center the content */
          width: 100%; /* Take full width */
      }

      .profile-card {
          width: 400px; /* Adjust width as needed */
          background-color: white;
          padding: 20px;
          border-radius: 10px;
          box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
      }

      @media (max-width: 768px) {
          .profile-container {
              flex-direction: column;
              align-items: center;
          }
      }
  </style>
</head>
<body>
<div class="profile-container">
  <div class="container">
    <a href="/" class="text-logo">SellNest</a>
    <h2>User Profile for:  <%= @user.email.split('@').first %> </h2>

    <div class="row">
      <div class="col-md-8 user-info">
       <p>Email: <%= @user.email %></p>
       <p>Joined: <%= @user.created_at.strftime("%B %d, %Y") %></p>
      </div>
      <div class="col-md-4 action-buttons">
        <%= link_to "Edit Email", edit_user_registration_path, class: "btn btn-primary btn-sm action-button" %>
        <%= link_to "Change Password", edit_user_registration_path(anchor: 'password'), class: "btn btn-primary btn-sm action-button" %>
        <% unless @user.seller? %>
          <%= link_to "Become a Seller", become_seller_user_path(@user), method: :post, class: "btn btn-primary btn-sm action-button" %>
        <% end %>
     </div>
    </div>
  </div>
</div>

<div class="profile-card">
  <div class="middle-section">
    <% unless @user.seller? %>
      <%= link_to "Become a Seller", become_seller_user_path(@user), method: :post, class: "btn btn-primary" %>
    <% else %>
      <%= link_to 'Create New Listing', new_listing_path, class: "btn btn-primary" %>
    <% end %>

    <% if @user.seller? %>
      <div class="toggle-container">
        <label class="toggle-label">
          <input type="radio" name="toggle-section" id="toggle-orders" checked>
          Order History
        </label>
        <label class="toggle-label">
          <input type="radio" name="toggle-section" id="toggle-active-listings">
          Active Listings
        </label>
        <label class="toggle-label">
          <input type="radio" name="toggle-section" id="toggle-sold-listings">
          Sold Listings
        </label>
      </div>

      <div id="order-history" class="content">
        <h2>Order History</h2>
        <ul>
          <% order_listings = @user.orders %>
          <% if order_listings.any? %>
            <% order_listings.each do |order| %>
              <li>
                <p>Items: <%= order.order_items.count %></p>
                <p>Total: <%= number_to_currency(order.total) %></p>
                <p>Bought: <%= order.created_at %> </p>
              </li>
            <% end %>
          <% else %>
            <li>
              <p>No Orders Placed</p>
            </li>
          <% end %>
        </ul>
      </div>


      <div id="active-listings" class="content" style="display: none;">
        <h2>Active Listings</h2>
        <ul>
          <% active_listings = Listing.where(user_id: @user.id, is_sold: false) %>
          <% if active_listings.any? %>
            <% active_listings.each do |listing| %>
              <li>
                <div class="carousel-container">
                  <div class="carousel">
                    <% listing.photos.each do |photo| %>
                      <%= image_tag(photo, width: '100%', height: 'auto') %>
                    <% end %>
                  </div>
                  <% if listing.photos.length > 1 %>
                    <div class="carousel-controls">
                      <button class="carousel-arrow" onclick="prevSlide(this)">❮</button>
                      <button class="carousel-arrow" onclick="nextSlide(this)">❯</button>
                    </div>
                  <% end %>
                </div>
                <p> ID: <%= listing.id %></p>
                <p> Item: <%= listing.name %> </p>
                <p> Price: <%= number_to_currency(listing.price) %></p>
                <%= link_to 'Edit', edit_listing_path(listing), class: 'button edit-button' %>
              </li>
            <% end %>
          <% else %>
            <li>
              <p>No active listings</p>
            </li>
          <% end %>
        </ul>
      </div>

      <div id="sold-listings" class="content" style="display: none;">
        <h2>Sold Listings</h2>
        <ul>
          <% sold_listings = Listing.where(user_id: @user.id, is_sold: true) %>
          <% if sold_listings.any? %>
            <% sold_listings.each do |listing| %>
              <li>
                <div class="carousel-container">
                  <div class="carousel">
                    <% listing.photos.each do |photo| %>
                      <%= image_tag(photo, width: '100%', height: 'auto') %>
                    <% end %>
                  </div>
                  <% if listing.photos.length > 1 %>
                    <div class="carousel-controls">
                      <button class="carousel-arrow" onclick="prevSlide(this)">❮</button>
                      <button class="carousel-arrow" onclick="nextSlide(this)">❯</button>
                    </div>
                  <% end %>
                </div>
                <p> Item: <%= listing.name %> </p>
                <p> Price: <%= number_to_currency(listing.price) %></p>
                <% sold_item = OrderItem.find_by(listing_id: listing.id) %>
                <p> Sold on: <%= sold_item.created_at %></p>
              </li>
            <% end %>
          <% else %>
            <li>
              <p>No sold listings</p>
            </li>
          <% end %>
        </ul>
      </div>
    <% else %>
      <div id="order-history" class="content">
        <h2>Order History</h2>
        <ul>
          <% order_listings = @user.orders %>
          <% if order_listings.any? %>
            <% order_listings.each do |order| %>
              <li>
                <p>Items: <%= order.order_items.count %></p>
                <p>Total: <%= number_to_currency(order.total) %></p>
              </li>
            <% end %>
          <% else %>
            <li>
              <p>No Orders Placed</p>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>

  <script>
      const toggleOrders = document.getElementById('toggle-orders');
      const toggleActiveListings = document.getElementById('toggle-active-listings');
      const toggleSoldListings = document.getElementById('toggle-sold-listings');

      const orderHistory = document.getElementById('order-history');
      const activeListings = document.getElementById('active-listings');
      const soldListings = document.getElementById('sold-listings');

      toggleOrders.addEventListener('change', () => {
          orderHistory.style.display = 'block';
          activeListings.style.display = 'none';
          soldListings.style.display = 'none';
      });

      toggleActiveListings.addEventListener('change', () => {
          orderHistory.style.display = 'none';
          activeListings.style.display = 'block';
          soldListings.style.display = 'none';
      });

      toggleSoldListings.addEventListener('change', () => {
          orderHistory.style.display = 'none';
          activeListings.style.display = 'none';
          soldListings.style.display = 'block';
      });
  </script>



</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>