<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
  <script src="https://kit.fontawesome.com/d968c2f6ce.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <%= stylesheet_link_tag 'user', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "chartkick.js" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" %>
</head>
<body>
<div class="profile-card">
  <div class="container">
    <a href="/" class="text-logo">SellNest</a>
    <h2>User Profile for:  <%= @user.email.split('@').first %> </h2>

    <div class="row">
      <div class="col-md-8 user-info">
       <p>Email: <%= @user.email %></p>
       <p>Joined: <%= @user.created_at.strftime("%B %d, %Y") %></p>
      </div>
      <div class="col-md-4 action-buttons">
        <%= link_to "Edit Email", edit_user_registration_path, class: "btn btn-primary btn-sm action-button" %>
        <%= link_to "Change Password", edit_user_registration_path(anchor: 'password'), class: "btn btn-primary btn-sm action-button" %>
        <% unless @user.seller? %>
          <%= link_to "Become a Seller", become_seller_user_path(@user), method: :post, class: "btn btn-primary btn-sm action-button" %>
        <% end %>
     </div>
    </div>
  </div>
</div>

<div class="profile-container">
  <div class="middle-section">
    <% if @user.seller? %>
      <%= link_to 'Create New Listing', new_listing_path, class: "btn btn-primary" %>
      <div class="toggle-container">
        <label class="toggle-label">
          <input type="radio" name="toggle-section" id="toggle-orders" checked>
          Order History
        </label>
        <label class="toggle-label">
          <input type="radio" name="toggle-section" id="toggle-active-listings">
          Active Listings
        </label>
        <label class="toggle-label">
          <input type="radio" name="toggle-section" id="toggle-sold-listings">
          Sold Listings
        </label>
      </div>
<div class="container">
  <div id="order-history" class="content">
    <h2>Order History</h2>
    <ul>
      <% order_listings = @user.orders %>
      <% if order_listings.any? %>
        <% order_listings.each do |order| %>
          <li>
            <p>Items: <%= order.order_items.count %></p>
            <p>Total: <%= number_to_currency(order.total) %></p>
            <p>Bought: <%= order.created_at %> </p>
            <p>Status: <%= order.status %></p>
            <% order.order_items.each do |order_item| %>
              <p><%= order_item.listing.name %></p>
              <%= link_to "Review Seller", new_review_path(listing_id: order_item.listing.id), class: "btn btn-primary review-button" %>
            <% end %>
          </li>
        <% end %>
      <% else %>
        <li>
          <p>No Orders Placed</p>
        </li>
      <% end %>
    </ul>
  </div>
  <div id="active-listings" class="content" style="display: none;">
        <h2>Active Listings</h2>
        <ul>
          <% active_listings = Listing.where(user_id: @user.id, is_sold: false) %>
          <% if active_listings.any? %>
            <% active_listings.each do |listing| %>
              <li>
                <div class="carousel-container">
                  <div class="carousel">
                    <% listing.photos.each do |photo| %>
                      <%= image_tag(photo) %>
                    <% end %>
                  </div>
                  <% if listing.photos.length > 1 %>
                    <div class="carousel-controls">
                      <button class="carousel-arrow" onclick="prevSlide(this)">❮</button>
                      <button class="carousel-arrow" onclick="nextSlide(this)">❯</button>
                    </div>
                  <% end %>
                </div>
                <p> Item: <%= listing.name %> </p>
                <p> Price: <%= number_to_currency(listing.price) %></p>
                <%= link_to 'Edit', edit_listing_path(listing), class: 'button edit-button' %>
              </li>
            <% end %>
          <% else %>
            <li>
              <p>No active listings</p>
            </li>
          <% end %>
        </ul>
      </div>
  <div id="sold-listings" class="content" style="display: none;">
    <h2>Sold Listings</h2>
    <ul>
      <% sold_listings = Listing.where(user_id: @user.id, is_sold: true) %>
      <% if sold_listings.any? %>
        <% sold_listings.each do |listing| %>
          <li>
            <div class="carousel-container">
              <div class="carousel">
                <% listing.photos.each do |photo| %>
                  <%= image_tag(photo, width: '100%', height: 'auto') %>
                <% end %>
              </div>
              <% if listing.photos.length > 1 %>
                <div class="carousel-controls">
                  <button class="carousel-arrow" onclick="prevSlide(this)">❮</button>
                  <button class="carousel-arrow" onclick="nextSlide(this)">❯</button>
                </div>
              <% end %>
            </div>
            <p> Item: <%= listing.name %> </p>
            <p> Price: <%= number_to_currency(listing.price) %></p>
            <% sold_item = OrderItem.find_by(listing_id: listing.id) %>
            <p> Sold on: <%= sold_item.created_at.strftime("%B %d, %Y") %></p>
          </li>
        <% end %>
      <% else %>
        <li>
          <p>No sold listings</p>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="container">
  <div class="dashboard-stats">
  <div class="stat-card">
    <h2 class="stat-title">Total Profits</h2>
    <p class="value"><%= number_to_currency(@total_profit) %></p>
  </div>

  <div class="stat-card">
    <h2 class="stat-title">Active Listings</h2>
    <p class="value"><%= @active_listings %></p>
  </div>

  <div class="stat-card">
    <h2 class="stat-title">Total Items Listed</h2>
    <p class="value"><%= @items_listed %></p>
  </div>

  <div class="stat-card">
    <% reviews = Review.where(listing_id: current_user.listings.pluck(:id)) %>
    <% if reviews.any? %>
      <% full_eggs = reviews.sum(:rating) / reviews.count %>
      <% remaining_eggs = 5 - full_eggs - 1 %>
      <% partial_egg = ((1 - ((reviews.sum(:rating) / reviews.count.to_f) - full_eggs)) * 100).to_i %>
      <% num_reviews = reviews.count %>
    <% else %>
      <% full_eggs = 0 %>
      <% remaining_eggs = 4 %>
      <% partial_egg = 100 %>
      <% num_reviews = 0 %>
    <% end %>
    <h2 class="stat-title">Trust Rating: <%= reviews.sum(:rating) / reviews.count.to_f %></h2>
    <p class="stat-value">
      <% full_eggs.times do %>
        <i class="fa-solid fa-egg"></i>
      <% end %>
      <% if full_eggs < 5 %>
        <i class="fa-solid fa-egg" style="filter: invert(<%= partial_egg %>%);"></i>
      <% end %>
      <% remaining_eggs.times do %>
        <i class="fa-solid fa-egg" style="filter: invert(100%);"></i>
      <% end %>
      (<%= num_reviews %>)
    </p>
  </div>
    <% if @user.listings.where(is_sold: true).any?%>
      <div class="stat-card">
        <%= pie_chart @tagged_listings2, id: "tag-pie-chart", library: { title: "Listings by Tag" } %>
      </div>

      <div class="stat-card">
        <%= bar_chart @chart_data2 %>
      </div>
    <% end %>
  </div>
  </div>
  <div class="reviews-section">
    <h3>User Reviews</h3>
    <% reviews = Review.where(listing_id: current_user.listings.pluck(:id)) %>
    <% if reviews.any? %>
      <ul>
        <% reviews.each do |review| %>
          <li>
            <p><strong>Rating:</strong> <%= review.rating %></p>
            <p><strong>Description:</strong> <%= review.content %></p>
            <p><strong>Date:</strong> <%= review.created_at.strftime("%B %d, %Y") %></p>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No reviews yet.</p>
    <% end %>
  </div>
<% end %>

  <div id="order-history" class="content">
    <h2>Order History</h2>
    <ul>
      <% order_listings = @user.orders %>
      <% if order_listings.any? %>
        <% order_listings.each do |order| %>
          <li>
            <p>Items: <%= order.order_items.count %></p>
            <p>Total: <%= number_to_currency(order.total) %></p>
            <p>Bought: <%= order.created_at %> </p>
            <p>Status: <%= order.status %></p>
            <% order.order_items.each do |order_item| %>
              <p><%= order_item.listing.name %></p>
              <%= link_to "Review Seller", new_review_path(listing_id: order_item.listing.id), class: "btn btn-primary review-button" %>
            <% end %>
          </li>
        <% end %>
      <% else %>
        <li>
          <p>No Orders Placed</p>
        </li>
      <% end %>
    </ul>
  </div>
</div>

  <script>
      document.addEventListener('DOMContentLoaded', function () {
          // Set "Order History" as active by default
          document.getElementById('order-history').classList.add('active');

          document.querySelectorAll('input[name="toggle-section"]').forEach(input => {
              input.addEventListener('change', function () {
                  const sectionId = this.id.replace('toggle-', '');
                  document.querySelectorAll('.content').forEach(section => {
                      section.classList.remove('active'); // Remove active class from all sections
                  });
                  document.getElementById(sectionId).classList.add('active'); // Add active class to the selected section
              });
          });

          const toggleOrders = document.getElementById('toggle-orders');
          const toggleActiveListings = document.getElementById('toggle-active-listings');
          const toggleSoldListings = document.getElementById('toggle-sold-listings');

          const orderHistory = document.getElementById('order-history');
          const activeListings = document.getElementById('active-listings');
          const soldListings = document.getElementById('sold-listings');

          toggleOrders.addEventListener('change', () => {
              orderHistory.style.display = 'block';
              activeListings.style.display = 'none';
              soldListings.style.display = 'none';
          });

          toggleActiveListings.addEventListener('change', () => {
              orderHistory.style.display = 'none';
              activeListings.style.display = 'block';
              soldListings.style.display = 'none';
          });

          toggleSoldListings.addEventListener('change', () => {
              orderHistory.style.display = 'none';
              activeListings.style.display = 'none';
              soldListings.style.display = 'block';
          });
      });
  </script>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>