<h1>User Profile</h1>

<%= link_to "Back to Home", root_path, class: "btn btn-primary" %>

<div class="user-info">
  <p> Username: <%= @user.email.split('@').first %> </p>
  <p> Email: <%= @user.email %> </p>
  <p> Joined: <%= @user.created_at %></p>
</div>

<div class="order-history">
  <h2>Order History</h2>
  <ul>
    <% order_listings = @user.orders %>
    <% if order_listings.any? %>
      <% order_listings.each do |order| %>
        <li>
          <p> Order ID: <%= order.id %> </p>
          <p>Total: <%= number_to_currency(order.total) %></p>
        </li>
      <% end %>
    <% else %>
      <li>
        <p>No Orders Placed</p>
      </li>
    <% end %>
  </ul>
</div>

<% unless @user.seller? %>
  <%= link_to "Become a Seller", become_seller_user_path(@user), method: :post, class: "btn btn-primary" %>
<% end %>

<% if @user.seller? %>
  <%= link_to 'Create New Listing', new_listing_path, class: "button" %>

  <div class="seller-history">
    <% user_listings = Listing.where(user_id: @user.id) %>
    <h2>Active Listings</h2>
    <ul>
      <% active_listings = user_listings.where(is_sold: false) %>
      <% if active_listings.any? %>
        <% active_listings.each do |listing| %>
          <li>
            <p> Item: <%= listing.name %> </p>
            <p> ID: <%= listing.user_id %> </p>
          </li>
        <% end %>
      <% else %>
        <li>
          <p>No active listings</p>
        </li>
      <% end %>
    </ul>

    <h2>Sold Listings</h2>
    <ul>
      <% sold_listings = user_listings.where(is_sold: true) %>
      <% if sold_listings.any? %>
        <% sold_listings.each do |listing| %>
          <li>
            <p> Item: <%= listing.id %> </p>
          </li>
        <% end %>
      <% else %>
        <li>
          <p>No sold listings</p>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>