<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'devise', media: 'all', 'data-turbolinks-track': 'reload' %>
  <title>Forgot your password?</title>
</head>
<h2>Forgot your password?</h2>
<body>
  <div class="container">
    <p>No worries, we'll send you an email to reset your password.</p>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions" %>
      </div>
    <% end %>
  </div>
</body>
</html>
