<!-- app/views/listings/edit.html.erb -->
<div class="container">
  <h1>Edit Listing</h1>

  <%= form_for @listing, url: listing_path(@listing), method: :patch, multipart: true do |f| %>
    <div class="form-group">
      <%= f.label :name, 'Name of Item:' %>
      <%= f.text_field :name, required: true %>
    </div>

    <!-- Add similar fields for other attributes -->

    <div class="form-group">
      <%= f.label :description, 'Description:' %>
      <%= f.text_area :description, rows: 4, required: true %>
    </div>

    <div class="form-group">
      <%= f.label :price, 'Price:' %>
      <%= f.number_field :price, required: true %>
    </div>

    <div class="form-group">
      <%= f.submit 'Update Listing' %>
    </div>
  <% end %>
</div>
